a {
  color: #000000;
  text-decoration: none;
  transition: color 0.25s linear;
}

a:hover {
  color: #0a7634;
  text-decoration: none;
  transition: color 0.25s linear;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
}

img {
  display: block;
  width: 100%;
}

.icon-close-home {
  display: none;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  transition: opacity 0.25s linear, visibility 0.25s linear;
}

.icon-close {
  display: block;
  text-align: right;
}

.text-small {
  font-size: 12px;
  line-height: 19px;
  font-weight: 300;
}

.icon {
  font-size: 20px;
  transition: 0.25s linear;
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.25s linear;
}

.bullet {
  width: 25px;
  height: 9px;
  background-color: #27ae60;
  display: inline-block;
  margin-right: 12px;
}
.bullet-large {
  width: 52px;
  height: 15px;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.content {
  font-size: 12px;
  line-height: 180%;
  font-weight: 300;
  text-align: justify;
}

.learnMore {
  font-size: 12px;
  line-height: 20px;
  color: #27ae60;
  text-transform: uppercase;
  cursor: pointer;
}

.title-section {
  padding-bottom: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title-section-txt {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
}

.view-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.view-all__txt {
  margin-right: 17px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.top-header {
  border-bottom: 3px solid #27ae60;
}
.top-header__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.top-header__link {
  padding: 8px 14px;
  cursor: pointer;
}

.menu-fullScreen {
  display: none;
  padding: 25px 0;
  height: 100vh;
}
.menu-fullScreen .menu-item {
  padding-bottom: 34px;
}
menu-item .menu-fullScreen .menu-item:last-child {
  border-bottom: 1px solid #e0e0e0;
}
.menu-fullScreen__bot .menu-bot-item {
  padding-top: 34px;
}

.main-header {
  padding: 28px 0;
  position: relative;
}
.main-header__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-header__menu .menu-link {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.hasSubMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-item {
  padding: 0 28px;
  position: relative;
}
.menu-item:hover .sub-menu {
  opacity: 1;
  transition: opacity 0.25s linear;
  visibility: visible;
  display: block;
}

.sub-menu {
  position: absolute;
  top: 110%;
  left: 0;
  width: 150px;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  display: none;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.sub-menu__item {
  padding: 8px 28px;
}
.sub-menu__item:hover {
  background-color: #f8f8f8;
  transition: background-color 0.25s linear;
}
.sub-menu__link {
  font-size: 13px;
  line-height: 15px;
}

.menu-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon-cart {
  position: relative;
  padding-right: 4px;
}
.icon-cart .cart-quantity {
  position: absolute;
  top: 4px;
  right: -4px;
  border: 1px solid;
  border-radius: 50%;
  font-size: 10px;
  padding: 2px;
  background-color: #ffffff;
  z-index: 2;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.banner .owl-stage-outer {
  position: relative;
  max-height: 662px;
}
.banner .owl-nav {
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translateY(-50%);
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.banner .owl-nav .owl-prev,
.banner .owl-nav .owl-next {
  margin: 0;
}
.banner .owl-dots {
  padding: 28px 0;
}
.banner .owl-dots .owl-dot.active span {
  background: #c4c4c4;
}
.banner .owl-dots .owl-dot:hover span {
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
}
.banner .owl-dots .owl-dot span {
  background: #c4c4c4;
}

.title-hasBullet {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-transform: uppercase;
}

.recommend {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1;
  grid-column-gap: 2px;
}
.recommend__item {
  width: 100%;
  background-color: #e5e5e5;
}
.recommend__content {
  padding: 20px;
}
.recommend__title {
  height: 40px;
  margin-bottom: 26px;
}
.recommend__title-txt {
  font-size: 15px;
  line-height: 20px;
  -webkit-line-clamp: 2;
}
.recommend__img {
  object-fit: cover;
  width: 100%;
}

.home-section {
  padding-top: 120px;
}

.product__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}
.product .product-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.product .product-price {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
}
.product__item-img {
  height: 396px;
}
.product__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-large {
  grid-column-start: 1;
  grid-column-end: 3;
}

.construction .owl-dots {
  display: none;
}
.construction__item-title {
  font-size: 16px;
  line-height: 20px;
  -webkit-line-clamp: 2;
  margin-bottom: 24px;
}
.construction__img {
  min-height: 560px;
  object-fit: cover;
}

.viewMore {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.viewMore-wrap {
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: 500;
  position: absolute;
  bottom: 54px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #ffffff;
  padding: 6px;
  height: 74px;
}

.news__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 57px;
}
.news__item {
  margin-bottom: 20px;
}
.news__img {
  width: 100%;
}
.news__title-txt {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.news__date {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #c4c4c4;
  margin-bottom: 10px;
  margin-top: 22px;
}
.news__des {
  margin-bottom: 18px;
}

#line {
  width: 100%;
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 110px;
  margin-bottom: 50px;
}

.newsLetter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.newsLetter__title {
  font-size: 36px;
  font-weight: 500;
  color: #1c1c1c;
}
.newsLetter__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.newsLetter__input {
  border: none;
  border-bottom: 1px solid;
  padding: 10px 25px;
  margin: 24px 0;
  width: 100%;
}
.newsLetter__input::placeholder {
  font-size: 18px;
  color: #1c1c1c;
  text-align: center;
}
.newsLetter__btn {
  border: none;
  background-color: #1c1c1c;
  color: #ffffff;
  font-weight: 600;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 100px;
  cursor: pointer;
}

.policy {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

/*  ---Footer---- */
#footer {
  background-image: url("../img/background-footer.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  position: relative;
  min-height: 660px;
}

.footer__logo {
  max-width: 60%;
}

.footer__info {
  color: #ffffff;
  margin-top: 36px;
}
.footer__info-address h5 {
  line-height: 24px;
}
.footer__info .company__name {
  text-transform: uppercase;
  line-height: 24px;
}

.footer__flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__flex i {
  margin-right: 20px;
}
.footer__flex h5 {
  margin-bottom: 0;
}

.footer__social {
  color: #ffffff;
}
.footer__social h4 {
  font-weight: bold;
  margin-bottom: 16px;
}
.footer__social-icon {
  margin-bottom: 10px;
}
.footer__social-icon i {
  color: #27ae60;
  margin-right: 20px;
}

.footer__form {
  display: flex;
  margin-bottom: 30px;
}
.footer__form input {
  padding: 15px 20px;
  flex: 1;
}
.footer__form input::placeholder {
  color: #c4c4c4;
  font-size: 14px;
}
.footer__form button {
  padding: 18px 20px;
  color: #ffffff;
  background-color: #27ae60;
  border: unset;
  cursor: pointer;
}
.footer__form button:focus {
  outline: unset;
}

.footer__map {
  height: 109px;
}

.breadcrumd {
  border-bottom: 1px solid #e0e0e0;
}
.breadcrumd__main {
  padding: 20px 0;
  font-size: 12px;
}
.breadcrumd__link:not(:first-child) {
  padding: 0 10px;
}

.products__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 42px 0;
}
.products__title {
  font-size: 30px;
  line-height: 35px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}
.products__sort, .filter-fullScreen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 12px;
  width: 100%;
  max-width: 162px;
}
.products__sort-content {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  display: none;
  z-index: 5;
}
.products__content {
  display: flex;
}
.products__filter {
  min-width: 208px;
}
.products__filter__title {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.products__list {
  flex: 1;
}
.products__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 50px;
}
.products__item {
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 8px;
}
.products__item .form-check {
  display: flex;
  align-items: center;
  padding: 25px 0;
  background-color: #f8f8f8;
}
.products__item .form-check-label {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  margin-left: 36px;
}
.products__item-img {
  margin-bottom: 20px;
}
.products__item-img img {
  width: 100%;
}
.products__item-title {
  font-weight: bold;
}
.products__item-price {
  font-weight: 300;
}

.sort-item {
  padding: 8px 12px;
  transition: background-color 0.25s linear;
}
.sort-item:hover {
  background-color: #f8f8f8;
  transition: background-color 0.25s linear;
}

.sort-link {
  font-size: 12px;
  line-height: 19px;
  font-weight: 300;
}

.filter-fullScreen {
  margin-right: 24px;
  max-width: unset;
}

.fullScreen-form {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s linear, visibility 0.25s linear;
}
.fullScreen__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.pagination__action {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.pagination__action a:hover {
  transform: scale(1.2);
  transition: all 0.25s;
}
.pagination .current-page {
  display: inline-block;
  border: 1px solid #000000;
  background-color: white;
  padding: 8px;
  margin: 0 32px;
}
.pagination .total-page {
  font-size: 10px;
}

.sort-txt {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
}

.space {
  width: 56px;
}

.filter-ckb {
  border-top: 0.5px solid #e0e0e0;
  border-bottom: 0.5px solid #e0e0e0;
  margin-bottom: 32px;
  padding: 20px 0;
}
.filter-ckb .form-check:not(:last-child) {
  margin-bottom: 16px;
}

.search-btn {
  padding: 12px 0;
}

.filter-price {
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  padding: 12px 20px;
  width: 100%;
  max-height: 35px;
  box-sizing: border-box;
}
.filter-price::placeholder {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #c4c4c4;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.summary__item {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #c0c0c0;
  transition: color 0.25s linear;
  margin-left: 46px;
}
.summary__item:hover {
  color: #000000;
  transition: color 0.25s linear;
}

.breadcrumd__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.overview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 36px 0;
}
.overview__img {
  max-width: 60%;
  width: 100%;
  height: 100%;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.overview__img-active {
  width: 548px;
  height: 548px;
}
.overview__img-active img {
  height: 100%;
  object-fit: cover;
}
.overview__img-sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 18px;
}
.overview__img-sub a {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}
.overview__img-sub a:hover {
  border: 2px solid #0a7634;
}
.overview__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.overview__info-title, .overview__info-price {
  font-size: 30px;
  line-height: 35px;
  font-weight: normal;
  color: #525252;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.overview__info-des {
  font-size: 14px;
  text-align: justify;
}
.overview__info-price {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}
.overview__info-long {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 35px;
  width: 100%;
  max-width: 248px;
  margin-bottom: 27px;
}

.icon-right {
  width: 40px;
  height: 35px;
  padding: 8px 12px;
  background-color: #000000;
  border-radius: 2px;
  transition: transform 0.25s linear;
}
.icon-right:hover {
  transform: scale(1.2);
  transition: transform 0.25s linear;
}

.input {
  flex: 1;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  padding: 10px 16px;
  box-sizing: border-box;
}
.input::placeholder {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #c4c4c4;
  text-align: center;
}

.add-to-cart {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  height: 40px;
  width: 100%;
  max-width: 248px;
  border: unset;
  cursor: pointer;
}

.select-color {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0;
}

.select-item {
  transition: background-color 0.25s linear;
  padding: 4px;
  margin-right: 20px;
}
.select-item img {
  border-radius: 2px;
}
.select-item:hover {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 2px;
  transition: background-color 0.25s linear;
}

.product-related {
  grid-template-columns: repeat(4, 1fr);
}

.product-detail {
  margin-bottom: 100px;
}
.product-detail-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.detail-item-title {
  display: flex;
  align-items: center;
}
.detail-item-title h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.detail-item-content li {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.custom-title {
  padding-bottom: 56px;
}

.slick-slide > div {
  transform: scale(0.4);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.slick-center > div {
  transform: scale(1);
}

.slider__item > img {
  width: 100%;
  height: 100%;
  max-height: 548px;
}

.slick-track .slick-current {
  transform: scaleX(1.5);
}

.product-slider {
  margin: 100px 0;
}

.prev-img,
.next-img {
  transition: transform 0.25s linear;
}
.prev-img:hover,
.next-img:hover {
  transform: scaleX(1.3);
  transition: transform 0.25s linear;
}

.current-img {
  margin-top: 32px;
}

@media screen and (max-width: 1200px) {
  .container-custom {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: unset;
  }

  .menu-item {
    padding: 0 12px;
  }

  .page-wrap {
    padding: 0 50px;
  }

  .news__items {
    grid-column-gap: 40px;
  }
  .news__img {
    height: 420px;
    object-fit: cover;
  }

  .products__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .space {
    width: 28px;
  }

  .summary__item {
    margin-left: 18px;
  }

  .overview__img-active {
    width: 374px;
    height: 374px;
  }
  .overview__img-sub a {
    width: 68px;
    height: 68px;
  }

  .product-slider {
    margin: 50px 0;
  }
}
@media screen and (max-width: 991.98px) {
  .page-wrap {
    padding: 0 20px;
  }

  .bullet {
    margin-right: 6px;
  }

  .top-header {
    display: none;
  }

  .main-header {
    padding: 18px 0;
  }
  .main-header .logo {
    width: 119px;
    height: 32px;
  }
  .main-header__menu {
    display: none;
    border-bottom: 1px solid #e0e0e0;
  }

  .menu-item:hover .sub-menu {
    display: none;
  }

  .sub-menu {
    display: none;
    box-shadow: unset;
  }

  .banner .owl-stage-outer {
    max-height: 265px;
  }
  .banner .owl-nav {
    display: none;
  }
  .banner .owl-dots {
    padding: 24px 0;
  }
  .banner .item img {
    min-height: 265px;
    object-fit: cover;
  }

  .recommend__content {
    padding: 12px;
  }

  .product__item-img {
    height: 312px;
  }

  .viewMore {
    padding: 12px 24px;
  }
  .viewMore-wrap {
    height: 60px;
    bottom: 42px;
  }

  .construction__img {
    min-height: 440px;
  }

  .products__title {
    display: none;
  }
  .products__filter {
    display: none;
  }

  .space {
    display: none;
  }

  .breadcrumd__wrap {
    display: none;
  }

  .overview__img {
    flex-direction: column-reverse;
    margin-right: 20px;
  }
  .overview__img-active {
    max-width: 354px;
  }
  .overview__img-sub {
    flex-direction: row;
    margin-right: unset;
    margin-top: 10px;
  }

  .summary-fullScreen__item {
    margin-bottom: 20px;
  }
  .summary-fullScreen__link {
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
  }
}
@media screen and (max-width: 767.98px) {
  .recommend {
    grid-template-columns: 1fr;
  }
  .recommend__content {
    padding: 30px;
  }
  .recommend__des {
    margin-bottom: 50px;
  }

  .product__content {
    grid-template-columns: 1fr 1fr;
  }

  .item-large {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item-normal-first {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .item-normal-second {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .viewMore {
    padding: 8px 24px;
  }
  .viewMore-wrap {
    height: 55px;
    bottom: 40px;
  }

  .construction__content {
    grid-template-columns: 1fr;
  }

  .news__items {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }

  .overview {
    flex-direction: column;
  }
  .overview__img {
    max-width: 100%;
    margin-right: unset;
  }
  .overview__img-sub {
    display: none;
  }
  .overview__img-active {
    width: 100%;
    max-width: 100%;
    margin-bottom: 25px;
  }

  .product-detail-text {
    flex-direction: column;
    align-items: stretch;
  }
}
@media screen and (max-width: 575.98px) {
  .page-wrap-custom {
    padding: 0;
  }

  .product__content {
    grid-column-gap: 10px;
  }

  .item-large {
    margin-bottom: 20px;
  }

  .view-all .arrow-large, .view-all__txt {
    display: none;
  }

  .arrow-large {
    display: none;
  }

  .construction__item img {
    min-height: 414px;
  }

  .news__items {
    grid-template-columns: 1fr;
  }

  .construction__img {
    min-height: 375px;
  }

  .newsLetter__title {
    font-size: 26px;
  }
  .newsLetter__input::placeholder {
    font-size: 13px;
  }

  .products__sort, .filter-fullScreen {
    max-width: 120px;
  }
  .products__items {
    grid-template-columns: 1fr;
  }

  .filter-fullScreen {
    max-width: unset;
    margin-right: 12px;
  }

  .footer__logo {
    padding-top: 20px;
  }

  .footer__info {
    padding-bottom: 50px;
  }

  .footer__form button {
    padding: 10px;
  }
}
@media screen and (max-width: 325px) {
  .viewMore {
    padding: 8px 14px;
  }
}

/*# sourceMappingURL=style.css.map */
