@media screen and (max-width: 1200px) {
  .container-custom {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: unset;
  }
  .menu-item {
    padding: 0 12px;
  }
  .page-wrap {
    padding: 0 50px;
  }
  .news {
    &__items {
      grid-column-gap: 40px;
    }
    &__img {
      height: 420px;
      object-fit: cover;
    }
  }
  .products {
    &__list {
    }
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .space {
    width: 28px;
  }
  .filter-fullScreen {
    display: none;
  }
}
@media screen and (max-width: 991.98px) {
  .page-wrap {
    padding: 0 20px;
  }
  .bullet {
    margin-right: 6px;
  }
  .top-header {
    display: none;
  }
  .main-header {
    padding: 18px 0;
    .logo {
      @include size(119px, 32px);
    }
    &__menu {
      display: none;
    }
  }
  .menu-item {
    &:hover {
      .sub-menu {
        // display: none;
      }
    }
  }
  .banner {
    .owl-stage-outer {
      max-height: 265px;
    }
    .owl-nav {
      display: none;
    }
    .owl-dots {
      padding: 24px 0;
    }
    .item {
      img {
        min-height: 265px;
        object-fit: cover;
      }
    }
  }
  .recommend {
    &__content {
      padding: 12px;
    }
  }
  .product {
    &__item {
      &-img {
        height: 312px;
      }
    }
  }
  .viewMore {
    &-wrap {
      height: 60px;
      bottom: 42px;
    }
    padding: 12px 24px;
  }

  .construction__img {
    min-height: 440px;
  }
  .products {
    &__title {
      display: none;
    }
    &__filter {
      display: none;
    }
  }
  .space {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .recommend {
    grid-template-columns: 1fr;
    &__content {
      padding: 30px;
    }
    &__des {
      margin-bottom: 50px;
    }
  }
  .product {
    &__content {
      grid-template-columns: 1fr 1fr;
    }
  }
  .item-large {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .item-normal-first {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .item-normal-second {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .viewMore {
    &-wrap {
      height: 55px;
      bottom: 40px;
    }
    padding: 8px 24px;
  }

  .construction {
    &__content {
      grid-template-columns: 1fr;
    }
  }
  .news {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
    }
  }
}
@media screen and (max-width: 575.98px) {
  .page-wrap {
    &-custom {
      padding: 0;
    }
  }
  .product {
    &__content {
      grid-column-gap: 10px;
    }
  }
  .item-large {
    margin-bottom: 20px;
  }
  .view-all {
    .arrow-large,
    &__txt {
      display: none;
    }
  }
  .arrow-large {
    display: none;
  }
  .construction__item {
    img {
      min-height: 414px;
    }
  }
  .news {
    &__items {
      grid-template-columns: 1fr;
    }
  }
  .construction__img {
    min-height: 375px;
  }
  .newsLetter {
    &__title {
      font-size: 26px;
    }
    &__input {
      &::placeholder {
        font-size: 13px;
      }
    }
  }

  .products {
    &__sort {
      max-width: 120px;
    }
    &__items {
      grid-template-columns: 1fr;
    }
  }
  .filter-fullScreen {
    max-width: unset;
    margin-right: 12px;
  }
}

@media screen and (max-width: 325px) {
  .viewMore {
    padding: 8px 14px;
  }
}
