html {
  font-size: 62.5%; // 1rem = 10px
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: $body-font-family;
  font-size: $base-font-size;
  font-weight: normal;
}
img {
  display: block;
  max-width: 100%;
}

.icon {
  font-size: 20px;
}
.rotate-180 {
  transform: rotate(180deg);
  transition: 0.3s;
}
.bullet {
  @include size(25px, 9px);
  background-color: $color-main-2;
  display: inline-block;
  margin-right: 12px;
  &-large {
    @include size(52px, 15px);
  }
}
.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.content {
  @include font(12px, 180%);
  font-weight: 300;
  text-align: justify;
}
.learnMore {
  @include font(12px, 20px);
  color: $color-main-2;
  text-transform: uppercase;
  cursor: pointer;
}
.title-section {
  padding-bottom: 52px;
  @include flex(flex, row, space-between, center);

  &-txt {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    @include font(30px, 35px);
  }
}
.view-all {
  @include flex();
  &__txt {
    margin-right: 17px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    @include font(16px, 19px);
  }
}
// .noHover {
//   pointer-events: none;
// }
.top-header {
  border-bottom: 3px solid $color-main-1;
  &__row {
    @include flex(flex, row, flex-end, center);
  }
  &__link {
    padding: 8px 14px;
    cursor: pointer;
  }
}
.menu-fullScreen {
  display: none;
  padding: 25px 0;
  height: 100vh;
  .menu-item {
    padding-bottom: 34px;
    &:last-child {
      border-bottom: 1px solid $color-border;
    }
  }
  &__bot {
    .menu-bot-item {
      padding-top: 34px;
    }
  }
}
.main-header {
  padding: 28px 0;
  border-bottom: 1px solid $color-border;
  position: relative;

  &__wrap {
    @include flex(flex, row, space-between, center);
  }
  &__menu {
    @include flex(flex, row, space-between, center);

    .menu-link {
      font-size: 1.6rem;
      text-transform: uppercase;
    }
  }
}
.hasSubMenu {
  @include flex(flex, row, space-between, center);
  position: relative;
  .icon {
    transition: 0.3s;
  }
}
.menu-item {
  padding: 0 28px;
  position: relative;
  &:hover {
    .sub-menu {
      display: block;
      opacity: 1;
      transition: opacity 0.3s;
    }
  }
}
.sub-menu {
  position: absolute;
  top: 28px;
  left: 0;
  width: 150px;
  opacity: 0;
  display: none;
  &__item {
    padding: 8px 28px;
  }
  &__link {
    @include font(13px, 15px);
  }
}
.menu-action {
  @include flex(flex, row, space-between, center);
}

.icon-cart {
  position: relative;
  padding-right: 4px;
  .cart-quantity {
    position: absolute;
    top: 4px;
    right: -4px;
    border: 1px solid;
    border-radius: 50%;
    font-size: 10px;
    padding: 2px;
    background-color: $color-white;
    z-index: 2;
    @include size(14px);
    @include flex-center();
  }
}

.banner {
  .owl-stage-outer {
    position: relative;
    max-height: 662px;
  }
  .owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    @include flex(flex, row, space-between, center);
    .owl-prev,
    .owl-next {
      margin: 0;
    }
  }
  .owl-dots {
    padding: 28px 0;
    .owl-dot.active {
      span {
        background: $color-grey;
      }
    }
    .owl-dot {
      &:hover {
        span {
          background: $color-grey;
          border: 1px solid $color-grey;
          border-radius: 50%;
        }
      }
      span {
        background: $color-grey;
      }
    }
  }
}
.title-hasBullet {
  @include flex(flex, row, flex-start, flex-start);
  text-transform: uppercase;
}

.recommend {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1;
  grid-column-gap: 2px;
  &__item {
    width: 100%;
    background-color: #e5e5e5;
  }
  &__content {
    padding: 20px;
  }
  &__title {
    height: 40px;
    margin-bottom: 26px;

    &-txt {
      @include font(15px, 20px);
      -webkit-line-clamp: 2;
    }
  }
  &__des {
    // padding: 40px 0;
  }
  &__img {
    object-fit: cover;
    width: 100%;
  }
}
.home-section {
  padding-top: 120px;
}
// .title-section {
//   padding-bottom: 52px;
// }
.product {
  &__title {
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
  }
  .product-title {
    font-weight: bold;
    @include font(18px, 21px);
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .product-price {
    font-family: "Open Sans", sans-serif;
    @include font(18px, 25px);
  }
  &__item {
    &-img {
      height: 396px;
      img {
        @include size(100%);
        object-fit: cover;
      }
    }
  }
}
.item-large {
  grid-column-start: 1;
  grid-column-end: 3;
}

.construction {
  .owl-dots {
    display: none;
  }
  &__item {
    &-title {
      @include font(16px, 20px);
      -webkit-line-clamp: 2;
      margin-bottom: 24px;
    }
  }
  &__img {
    min-height: 560px;
    object-fit: cover;
  }
}
.btn-viewMore {
}
.viewMore {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px 50px;
  @include flex-center();
  &-wrap {
    @include font(16px, 19px);
    @include flex-center();
    font-weight: 500;
    position: absolute;
    bottom: 54px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #ffffff;
    padding: 6px;
    height: 74px;
  }
}
.news {
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 57px;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__img {
    width: 100%;
  }
  &__title {
    &-txt {
      @include font(18px, 21px);
      text-transform: uppercase;
      margin-bottom: 12px;
    }
  }
  &__date {
    display: inline-block;
    @include font(12px, 14px);
    text-transform: uppercase;
    color: $color-grey;
    margin-bottom: 10px;
    margin-top: 22px;
  }
  &__des {
    margin-bottom: 18px;
  }
}
#line {
  @include size(100%, 0.5px);
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 110px;
  margin-bottom: 50px;
}

.newsLetter {
  @include flex(flex, column, space-between, center);
  padding: 16px 0;
  &__title {
    font-size: 36px;
    font-weight: 500;
    color: #1c1c1c;
  }
  &__form {
    @include flex(flex, column, space-between, center);
  }
  &__input {
    border: none;
    border-bottom: 1px solid;
    padding: 10px 25px;
    margin: 24px 0;
    width: 100%;

    &::placeholder {
      font-size: 18px;
      color: #1c1c1c;
      text-align: center;
    }
  }
  &__btn {
    border: none;
    background-color: #1c1c1c;
    color: $color-white;
    font-weight: 600;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 100px;
    cursor: pointer;
  }
}
.policy {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

/*  ---Footer---- */
#footer {
  background-image: url("../img/background-footer.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  position: relative;
  min-height: 660px;
}
.footer__info {
  color: $color-white;
  margin-top: 36px;
  &-address {
    h5 {
      line-height: 24px;
    }
  }
  .company__name {
    text-transform: uppercase;
  }
}
.footer__flex {
  @include flex(flex, row, flex-start, center);
  i {
    font-size: 30px;
    margin-right: 20px;
  }
  h5 {
    margin-bottom: 0;
  }
}
.footer__social {
  color: $color-white;
  h4 {
    font-weight: bold;
    margin-bottom: 16px;
  }
  &-icon {
    margin-bottom: 10px;
    i {
      color: $color-main-2;
      font-size: 30px;
      margin-right: 20px;
      cursor: pointer;
    }
  }
}
.footer__form {
  display: flex;
  margin-bottom: 30px;
  input {
    padding: 15px 20px;
    flex: 1;
    &::placeholder {
      color: #c4c4c4;
      font-size: 14px;
    }
  }
  button {
    padding: 18px 20px;
    color: $color-white;
    background-color: $color-main-2;
    border: unset;
    cursor: pointer;
    &:focus {
      outline: unset;
    }
  }
}
.footer__map {
  height: 109px;
}
