// 1. COLOR
$color-white: #ffffff !default;
$color-black: #000000 !default;
$color-text-dark: #0a0d35 !default;
$color-green-dark: #004fb9 !default;
$color-text: #000000 !default;
$color-text-blue: #0a7634 !default;
$color-main-1: #0a7634 !default;
$color-main-2: #27ae60 !default;
$color-border: #e0e0e0 !default;
$color-grey: #c4c4c4 !default;
$color-bg: #f8f8f8 !default;

// 3 FONT FAMILY
$header-font-family: Roboto, sans-serif !default;
$body-font-family: Roboto, sans-serif !default;

// 4 FONT SIZE
$base-font-size: 1.6rem !default;
$header-font-weight: bold !default;
$small-base-font-size: 16px !default;
$small-h1-font-size: 2.074rem !default;
$small-h2-font-size: 1.728rem !default;
$small-h3-font-size: 1.44rem !default;
$small-h4-font-size: 1.2rem !default;
$small-h5-font-size: 1rem !default;

//links
a {
  color: $color-black;
  text-decoration: none;
  transition: color 0.25s linear;
}
a:hover {
  color: $color-main-1;
  text-decoration: none;
  transition: color 0.25s linear;
}
//a:visited { color: $purple; }
//a:active { color: $red; }

// MIXIN
@mixin hoverText($color, $transition: 0.25s) {
  color: $color;
  transition: $transition;
}

@mixin text-ellipsis() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin ellipsis-text($display: flex) {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin font($size, $lineHeight) {
  font-size: $size;
  line-height: $lineHeight;
}

@mixin flex(
  $display: flex,
  $flex-direction: row,
  $justify-content: center,
  $align-item: center
) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-item;
}

@mixin flex-center($display: flex) {
  display: $display;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@mixin transition($properties, $duration: 0.3s, $delay: 0s) {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: $properties;
  transition-duration: $duration;
  transition-delay: $delay;
}
